<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DermasterSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DermasterSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!-- Log4net Logging Setup -->
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender,log4net">
      <file value="C:\\mylogfile.txt" />
      <!-- the location where the log file would be created -->
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <connectionStrings configSource="Web.ConnectionStrings.config">
    
  </connectionStrings>
  <appSettings>
    <add key="sourceCopyPath" value="/updateDermaster" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--<add key="ConnectionString" value="data source=27.254.172.241, 1433;initial catalog=OPD_System;persist security info=True;user id=sa;password=VH@98qcNhPAtcxQ;" />-->
    <!--<add key="ConnectionString" value="data source=.\MSSQLSERVER2016;initial catalog=OPD_System;persist security info=True;user id=sa;password=P@ssw0rd;" />-->
    <add key="ErrorLogFile" value="\Errors\ErrorLog.txt" />
    <!--<add key="TempPictures" value="\TempPictures"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <applicationSettings>
    <DermasterSystem.Properties.Settings>
      <setting name="TextBoxBlackColor" serializeAs="String">
        <value>255, 224, 192</value>
      </setting>
      <setting name="StrVat" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="FtpUserName" serializeAs="String">
        <value>anonymous</value>
      </setting>
      <setting name="FtpPassword" serializeAs="String">
        <value>anonymous@anonymous.net</value>
      </setting>
      <setting name="FtpServer" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="LocalFilePath" serializeAs="String">
        <value>C:\TempPictures\ClientPictures</value>
      </setting>
      <setting name="FormatDateToFrom" serializeAs="String">
        <value>d MMM yyyy</value>
      </setting>
      <setting name="AppointStopColor" serializeAs="String">
        <value>247, 207, 94</value>
      </setting>
      <setting name="AppointColor" serializeAs="String">
        <value>230, 184, 184</value>
      </setting>
      <setting name="PassImagePathServer" serializeAs="String">
        <value>pSC0BHYlBqDoOgLFZUU89w==</value>
      </setting>
      <setting name="UserImagePathServer" serializeAs="String">
        <value>/w5y67OSOONVPTN26ySf1g==</value>
      </setting>
      <setting name="ImagePathServer" serializeAs="String">
        <value>pFnEbMjX8Z5pB3dLdfO2ODJOq/r2gb5e</value>
      </setting>
      <setting name="BeforAfterPath" serializeAs="String">
        <value>z:\</value>
      </setting>
    </DermasterSystem.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <DermasterSystem.Properties.Settings>
      <setting name="ColorBlackFromQueue" serializeAs="String">
        <value>224, 225, 227</value>
      </setting>
      <setting name="ColorGridHard" serializeAs="String">
        <value>195, 190, 150</value>
      </setting>
      <setting name="colorback" serializeAs="String">
        <value>252, 248, 175</value>
      </setting>
      <setting name="colorbackHearder" serializeAs="String">
        <value>207, 194, 93</value>
      </setting>
    </DermasterSystem.Properties.Settings>
  </userSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>