<?xml version="1.0"?>
<connectionStrings>
   <add name="FnetDB4Entities" connectionString="metadata=res://*/Entity.FNetDB4.csdl|res://*/Entity.FNetDB4.ssdl|res://*/Entity.FNetDB4.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=27.254.172.241, 1433;initial catalog=FnetDB4;persist security info=True;user id=sa;password=VH@98qcNhPAtcxQ;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
        providerName="System.Data.EntityClient" />
  <add name="Entities_Member" connectionString="metadata=res://*/Entity.FNetDB4_Member.csdl|res://*/Entity.FNetDB4_Member.ssdl|res://*/Entity.FNetDB4_Member.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=27.254.172.241, 1433;initial catalog=FNetDB4-Member;persist security info=True;user id=sa;password=VH@98qcNhPAtcxQ;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient"/>
  <add name="StringConnMainDB" connectionString="data source=27.254.172.241, 1433;UID=sa;PASSWORD=VH@98qcNhPAtcxQ;database=FNetDB4-Member;Max Pool Size=400;Connect Timeout=600;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
</connectionStrings>


